#main {
    background-color: rgba(255,255,255,0.8);
    display: flex;
    padding: 4vh 4vw;
}

form { margin-right: 15vw; }

input {
    padding: 1vh 1vw;
    border-style: none;
    border-radius: 5px;
}

/*  For all mobile screens */
@media screen and (max-width: 820px) {
    #main { flex-direction: column-reverse; }
}

/* For all desktop */
@media screen and (min-width: 820px) {
    h1 { font-size: 2rem; }
    
    #main { 
        border-radius: 13px;
        padding: 2vh 2vw;
    }

    li {
        padding-bottom: 2vh;
        font-size: 1.4rem;
    }

}